<header class="main-header">

    <h1 id="logo">🍳 Culinary Learning Platform</h1>

    <nav id="nav-guest">
        <a href="/login.html" class="btn">Login</a>
        <a href="/register.html" class="btn">Register</a>
    </nav>

    <nav id="nav-user" style="display:none;">
        <span id="welcomeText"></span>

        <!-- <a href="/dashboard.html" class="btn">Dashboard</a> -->

        <button id="logoutBtn">Logout</button>
    </nav>

    <nav id="nav-admin" style="display:none;">
        <span id="adminText"></span>

        <!-- <a href="/dashboard.html" class="btn">Dashboard</a> -->
        <a href="/admin.html" class="btn">Admin Panel</a>

        <button id="logoutBtnAdmin">Logout</button>
    </nav>

</header>